
.App {
   /* text-align:start; */
   /* 
   justify-content: space-between; */
   /* display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap-reverse; */
   text-align: center;
   justify-content: space-between;
   align-content: flex-start;
 
   background-image: url("img/rick-and-morty-wallpaper-portal-wallpaper-001.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   overflow: scroll;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}